<html>
<head>
<title>FE DE VIDA</title>

<style>
html { background:#ffffff;
/*background-image: url(images/fondodos.jpg);
background-repeat:no-repeat;
background-size:100% 100%;*/
background: url(images/bg.gif) repeat;
font:Calibri;
   font-family:Calibri;
   font-size:12px }
body
{
   font:Calibri;
   font-family:Calibri;
   font-size:12px
}
fieldset
{
   font:Calibri;
   font-family:Calibri;
}
input
{
   font:Calibri;
   font-family:Calibri;
   font-size:14px
}
#cabecera{
	background-color: #ffffff;
	border-left: 2px solid #000000;
	border-right: 2px solid #000000;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-radius: 10px;
	font-family:Calibri;
}
</style>

<link href="css/dcaccordion.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type='text/javascript' src='js/jquery.cookie.js'></script>
<script type='text/javascript' src='js/jquery.hoverIntent.minified.js'></script>
<script type='text/javascript' src='js/jquery.dcjqaccordion.2.7.min.js'></script>
<script type="text/javascript">
$(document).ready(function($){
					$('#accordion-2').dcAccordion({
						eventType: 'click',
						autoClose: true,
						saveState: false,
						disableLink: true,
						speed: 'fast',
						showCount: false,
						autoExpand: true,
						cookie	: 'dcjq-accordion-1',
						classExpand	 : 'dcjq-current-parent'
					});
					
					
});
</script>
<link href="css/graphite.css" rel="stylesheet" type="text/css" />

</head>

<body>
<table width="90%" border="0" align="center" id="cabecera">
      <tr>
        <td><span style="font-family:calibri; font-size:16px"><img src="{{asset ('images/mint para salud.jpg')}}" width="100%" height="74"/></span></td>
        <td><span style="font-family:calibri; font-size:16px"><img src="images/logo_gobernacion_2013.png" width="100%" height="150"></span></td>
      </tr>
       <tr>
    <td align="left" valign="middle" style="font-family:calibri; font-size:16px"><strong>Bienvenido(a): </strong></td>
    <td align="right" valign="middle" style="font-family:calibri; font-size:16px"><strong>Matur&iacute;n, </strong></td>
  </tr>
    </table>
<table width="90%" border="0" align="center">
  <tr>
    <td width="26%" align="left" valign="top">
    <div class="graphite demo-container">
<ul class="accordion" id="accordion-2">
  <li><a href="index.php" style="border-top: 2px solid #00CC00; border-top-left-radius:10px; border-top-right-radius:10px;"><img src="images/inicio_morado.png" alt="" width="24" height="24" />&nbsp;INICIO</a></li>
  <li><a href="?sec=ventanas/cambiocontrasena"><img src="images/cambiar_clave.png" alt="" width="24" height="24" />&nbsp;CAMBIAR CLAVE</a></li>
    <li><a href="#"><img src="images/carpetas.png" alt="" width="24" height="24" />FE DE VIDA</a>
      <ul>
      <li><a href="?sec=ventanas/ingresar_fedevida">Ingresar</a></li>
            <li><a href="?sec=ventanas/listado_personal">Consultar</a></li>
    </ul>
    </li>
    <li><a href="#"><img src="images/reportes.png" alt="" width="24" height="24" />&nbsp;REPORTES</a>
    <ul>
      <li><a href="?sec=ventanas/listado_reporte">Listado General</a></li>
            <li><a href="?sec=ventanas/listado_especifico">Listado Espec&iacute;fico</a></li>
    </ul>
    </li>
    <?php 
	if($tipoa==1)
	{
	?>
    <li><a href="#"><img src="images/usuarios.png" alt="" width="24" height="24" />&nbsp;USUARIOS</a><ul>
    <li><a href="?sec=ventanas/usuarios/agregar_usuario">Ingresar nuevo usuario</a></li>
    <li><a href="?sec=ventanas/usuarios/lista_modificar_usuario">Modificar usuarios</a></li>
    <li><a href="?sec=ventanas/usuarios/lista_eliminar_usuario">Eliminar usuarios</a></li>
</ul>
</li>
<li><a href="?sec=ventanas/autoridades"><img src="images/autoridad.png" alt="" width="24" height="24" />&nbsp;AUTORIDADES</a></li>
<li><a href="?sec=ventanas/resetear_status"><img src="images/cpanel.png" alt="" width="24" height="24" />&nbsp;RESETEAR STATUS</a></li>
<?php 
}
?>
<li><a href="?sec=salir" style="border-bottom-left-radius:10px;border-bottom-right-radius:10px;"><img src="images/cerrar_sesion.png" alt="" width="24" height="24" />&nbsp;CERRAR SESI&Oacute;N</a></li>
</ul>
</div>
    </td>
    <td width="74%" colspan="2" align="left" valign="top"></td>
  </tr>
  <tr>
    <td colspan="7" align="center" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="7" align="center" valign="top" style="font-family:calibri; font-size:16px"><marquee><strong>&copy;<?php echo date('Y') ?> Direcci&oacute;n Regional de Salud del Estado Monagas</strong></marquee></td>
  </tr>
</table>
</body>
</html>

