html { background:#ffffff;
/*background-image: url(images/fondodos.jpg);
background-repeat:no-repeat;
background-size:100% 100%;*/
background: url(../images/bg.gif) repeat;
font:Calibri;
   font-family:Calibri;
   font-size:12px }
body
{
   font:Calibri;
   font-family:Calibri;
   font-size:12px
}
fieldset
{
   font:Calibri;
   font-family:Calibri;
}
input
{
   font:Calibri;
   font-family:Calibri;
   font-size:14px
}
#cabecera{
	background-color: #ffffff;
	border-left: 2px solid #000000;
	border-right: 2px solid #000000;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-radius: 10px;
	font-family:Calibri;
}