{# empty Twig template #}
{% extends 'fedevidaBundle:ventanas:index.html.twig' %}

{% block title %}Inicio{% endblock %}
{% block stylesheets %}
<link href="../../css/dcaccordion.css" rel="stylesheet" type="text/css" />
<link href="../../css/estilo_principal.css" rel="stylesheet" type="text/css" />
<link href="../../css/graphite.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type='text/javascript' src='../../js/jquery.cookie.js'></script>
<script type='text/javascript' src='../../js/jquery.hoverIntent.minified.js'></script>
<script type='text/javascript' src='../../js/jquery.dcjqaccordion.2.7.min.js'></script>
{% endblock %}
{% block contenido %}
<table width="100%" border="0" align="center">
    <tr>
        <td colspan="2" bgcolor="#CCCCCC" class="TITULO" align="center" style="border-top-left-radius:10px; border-top-right-radius:10px;">BIENVENIDOS AL CENSO REGIONAL DE FE DE VIDA MONAGAS <?php echo date('Y');?></td>
    </tr>
    <tr>
        <td align="center" colspan="2"><img src="{{asset ('images/gestion1.png')}}" width="221" height="181" /></td>
    </tr>
    <tr>
        <td colspan="2" bgcolor="#CCCCCC" class="TITULO" align="center" style="border-bottom-left-radius:10px; border-bottom-right-radius:10px;">SOLICITE TODOS LOS REQUISITOS AL BENEFICIADO. VERIFIQUE E INGRESE</td>
    </tr>
</table>
{% endblock %}
