{# empty Twig template #}
{% extends 'fedevidaBundle:ventanas:index.html.twig' %}

{% block title %}Autoridades{% endblock %}
{% block stylesheets %}
<link href="../css/dcaccordion.css" rel="stylesheet" type="text/css" />
<link href="../css/estilo_principal.css" rel="stylesheet" type="text/css" />
<link href="../css/graphite.css" rel="stylesheet" type="text/css" />
<style>
#tablaautoridades
{
border: 1px solid black;
font-family:"Calibri";
}
	</style>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type='text/javascript' src='../js/jquery.cookie.js'></script>
<script type='text/javascript' src='../js/jquery.hoverIntent.minified.js'></script>
<script type='text/javascript' src='../js/jquery.dcjqaccordion.2.7.min.js'></script>
{% endblock %}
{% block contenido %}
<div class="art-post-inner art-article" style="height:400px; border:none" align="center">

<br>

<table width="600" align="center" id="tablaautoridades">
  <tr align="center" bgcolor="#00CC00" style="color:#FFF; font-family:'Calibri';">
    <td width="95" style="vertical-align:middle; text-align:center"><strong>MODIFICAR</strong></td>
    <td width="327" style="vertical-align:middle; text-align:center"><strong>NOMBRE</strong></td>
    <td width="156" style="vertical-align:middle; text-align:center"><strong>CARGO</strong></td>
  </tr>
  
  {% for autoridad in autoridades %}
  
  <tr style="font-family:'Calibri'">
    <td align="center" bgcolor="#FFFFFF" style="vertical-align:middle; text-align:center">
        <a href="#" title="MODIFICAR NOMBRE">
           <img src="images/lapiz.png" alt="" width="24" height="24" />
        </a>
    </td>
    <td bgcolor="#FFFFFF" style="color:#000; vertical-align:middle; text-align:left">{{autoridad.nombreAutoridad}}</td>
    <td bgcolor="#FFFFFF" style="color:#000; vertical-align:middle; text-align:left">{{autoridad.cargoAutoridad}}</td>
  </tr>
  {% else %}
  <td colspan="3">No hay autoridades</td>
  {% endfor %}
</table>


</div>
{% endblock %}
