<html>
    <head>
    <title>{% block title %}Fe de Vida DRS{% endblock %}</title>
    {% block stylesheets %}
<link href="css/dcaccordion.css" rel="stylesheet" type="text/css" />
<link href="css/estilo_principal.css" rel="stylesheet" type="text/css" />
<link href="css/graphite.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type='text/javascript' src='js/jquery.cookie.js'></script>
<script type='text/javascript' src='js/jquery.hoverIntent.minified.js'></script>
<script type='text/javascript' src='js/jquery.dcjqaccordion.2.7.min.js'></script>
{% endblock %}
<script type="text/javascript">
$(document).ready(function($){
    $('#accordion-2').dcAccordion({
            eventType: 'click',
            autoClose: true,
            saveState: false,
            disableLink: true,
            speed: 'fast',
            showCount: false,
            autoExpand: true,
            cookie	: 'dcjq-accordion-1',
            classExpand	 : 'dcjq-current-parent'
    });					
});
</script>
</head>

<body>
<table width="90%" border="0" align="center" id="cabecera">
      <tr>
        <td><span style="font-family:calibri; font-size:16px">
                <img src="{{asset ('images/mint para salud.jpg')}}" width="100%" height="74"/>
            </span></td>
        <td><span style="font-family:calibri; font-size:16px">
                <img src="{{asset ('images/logo_gobernacion_2013.png')}}" width="100%" height="150">
            </span></td>
      </tr>
       <tr>
    <td align="left" valign="middle" style="font-family:calibri; font-size:16px"><strong>Bienvenido(a): </strong></td>
    <td align="right" valign="middle" style="font-family:calibri; font-size:16px"><strong>Matur&iacute;n, </strong></td>
  </tr>
    </table>
<table width="90%" border="0" align="center">
  <tr>
    <td width="26%" align="left" valign="top">
    <div class="graphite demo-container">
<ul class="accordion" id="accordion-2">
  <li><a href="{{path('estatica',{'nombre':'inicio'})}}" style="border-top: 2px solid #00CC00; border-top-left-radius:10px; border-top-right-radius:10px;"><img src="{{asset ('images/inicio_morado.png')}}" alt="" width="24" height="24" />&nbsp;INICIO</a></li>
  <li><a href="?sec=ventanas/cambiocontrasena"><img src="{{asset ('images/cambiar_clave.png')}}" alt="" width="24" height="24" />&nbsp;CAMBIAR CLAVE</a></li>
    <li><a href="#"><img src="{{asset ('images/carpetas.png')}}" alt="" width="24" height="24" />FE DE VIDA</a>
      <ul>
      <li><a href="?sec=ventanas/ingresar_fedevida">Ingresar</a></li>
            <li><a href="?sec=ventanas/listado_personal">Consultar</a></li>
    </ul>
    </li>
    <li><a href="#"><img src="{{asset ('images/reportes.png')}}" alt="" width="24" height="24" />&nbsp;REPORTES</a>
    <ul>
      <li><a href="?sec=ventanas/listado_reporte">Listado General</a></li>
            <li><a href="?sec=ventanas/listado_especifico">Listado Espec&iacute;fico</a></li>
    </ul>
    </li>
    <?php 
	if($tipoa==1)
	{
	?>
    <li><a href="#"><img src="{{asset ('images/usuarios.png')}}" alt="" width="24" height="24" />&nbsp;USUARIOS</a><ul>
    <li><a href="?sec=ventanas/usuarios/agregar_usuario">Ingresar nuevo usuario</a></li>
    <li><a href="?sec=ventanas/usuarios/lista_modificar_usuario">Modificar usuarios</a></li>
    <li><a href="?sec=ventanas/usuarios/lista_eliminar_usuario">Eliminar usuarios</a></li>
</ul>
</li>
<li><a href="{{path('autoridades')}}"><img src="{{asset ('images/autoridad.png')}}" alt="" width="24" height="24" />&nbsp;AUTORIDADES</a></li>
<li><a href="?sec=ventanas/resetear_status"><img src="{{asset ('images/cpanel.png')}}" alt="" width="24" height="24" />&nbsp;RESETEAR STATUS</a></li>
<?php 
}
?>
<li><a href="?sec=salir" style="border-bottom-left-radius:10px;border-bottom-right-radius:10px;"><img src="{{asset ('images/cerrar_sesion.png')}}" alt="" width="24" height="24" />&nbsp;CERRAR SESI&Oacute;N</a></li>
</ul>
</div>
    </td>
    <td width="74%" colspan="2" align="left" valign="top">
        {% block contenido %}{% endblock %}
    </td>
  </tr>
  <tr>
    <td colspan="7" align="center" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="7" align="center" valign="top" style="font-family:calibri; font-size:16px"><marquee><strong>&copy;<?php echo date('Y') ?> Direcci&oacute;n Regional de Salud del Estado Monagas</strong></marquee></td>
  </tr>
</table>
</body>
</html>

