{# empty Twig template #}
{% extends 'fedevidaBundle:ventanas:index.html.twig' %}

{% block title %}Registro Autoridades{% endblock %}
{% block stylesheets %}
<link href="../css/dcaccordion.css" rel="stylesheet" type="text/css" />
<link href="../css/estilo_principal.css" rel="stylesheet" type="text/css" />
<link href="../css/graphite.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type='text/javascript' src='../js/jquery.cookie.js'></script>
<script type='text/javascript' src='../js/jquery.hoverIntent.minified.js'></script>
<script type='text/javascript' src='../js/jquery.dcjqaccordion.2.7.min.js'></script>
{% endblock %}
{% block contenido %}
<h1>FORMULARIO</h1>

{{ form(form) }}

{% endblock %}
